@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (min-width: 333px) and (max-width: 750px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {}

@media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {}